.container-copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    height: 60px;
    align-items: center;
}

.footer-copyright{
    color: #FFFFFF;
    align-items: center;
    opacity: 0.8;
}