$primary-background-color : #ffffff;
$secondry-background-color: #F6FAFD;
$tarsiary-color : #4DB7B3;
$primary-button-color : #8FC740;
$primary-box-color : #F7941D;


#button-style {
    background-color: $primary-button-color;
    font-size: 10px;
    margin: 5px;
}